.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    color: #495057;
    cursor: pointer;
    transition: all 0.2s;
}

.nav-button.active {
    color: #0d6efd;
}

.survey-container {
  padding: 2rem; 
}

.form-section {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.section-title {
    min-width: 140px; 
    margin-top: 0rem; 
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.input-row input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #0d6efd;
  border-radius: 4px;
}

.input-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-section .input-group.favourite-food-group {
  flex-direction: row;
  gap: 2rem;
}

.form-section .input-group.favourite-food-group .input-row {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
